* {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: Verdana;
}
input:focus,
textarea:focus,
select:focus{
  outline: none;
}

body {
  background: #F7F7F7;
}

.container {
  width: 100%;
  margin: 0 auto;

  @media (min-width: 1200px) {
    max-width: 1320px;
    display: flex;
    justify-content: space-between;
  }
}